<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.gushizone.spring.transaction.propagation.dao.ItemMapper">

  <resultMap id="BaseResultMap" type="tk.gushizone.spring.transaction.propagation.entity.Item">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="Base_Column_List">
    id, `name`, remark
  </sql>

  <insert id="insert" parameterType="tk.gushizone.spring.transaction.propagation.entity.Item">
    insert into item (id,  `name`, remark)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteAll">
    delete from item where 1=1
  </delete>

  <!-- flushCache: true 关闭一级缓存 -->
  <select id="selectAll" resultMap="BaseResultMap">
  <!--<select id="selectAll" resultMap="BaseResultMap" flushCache="true">-->
    select
    <include refid="Base_Column_List" />
    from item
  </select>


</mapper>